@media (min-width: 980px) {
        #centerpiece_slider, 
        li.centerpiece_single, 
        li.centerpiece_single img.centerpiece_single_img, 
        li.centerpiece_single img.centerpiece_single_vid_thumb,
        li.centerpiece_single object, 
        li.centerpiece_single iframe, 
        li.centerpiece_single embed {width: 1000px; height: 338px; }
        #centerpiece_slider ul {height: 338px;}
		
		body {padding: 0px;}
}

@media (max-width: 979px) {
        #UCFHBSearch_and_links { display: none; }
        #UCFHBHeader div.UCFHBWrapper { width: 100%; }
        
        #header-menu { float: left; margin-left: 0; }
		
		#home .home-links .home-link {
        padding-left: 20px;
        padding-right: 20px;
		}
        
        #centerpiece_slider, 
        li.centerpiece_single, 
        li.centerpiece_single img.centerpiece_single_img, 
        li.centerpiece_single img.centerpiece_single_vid_thumb,
        li.centerpiece_single object, 
        li.centerpiece_single iframe, 
        li.centerpiece_single embed {width: 724px; height: 260px; }
        #centerpiece_slider ul {height: 260px;}
        
        .ribbon { font-size: 0.78em; }
		
		body {padding: 0px; }
		
		.container { width: 100%; }
	
}

@media (max-width: 767px) {
        #header { margin-left: 0; }
        #header h1 { width: 100%; clear: both; font-size:28px; margin-left: 20px; }
		
		#footer {margin-left: 10px;}
		#search {display: none;}
        
        #home .description { margin-top: 10px; }
		#home .home-links .side-bar {
        border-right: none;
		}
        
        #centerpiece_slider { width: 100%; margin: 0; }
        #centerpiece_slider, #centerpiece_slider ul { height: auto; }
        li.centerpiece_single, 
        li.centerpiece_single img.centerpiece_single_img, 
        li.centerpiece_single img.centerpiece_single_vid_thumb,
        li.centerpiece_single object, 
        li.centerpiece_single iframe, 
        li.centerpiece_single embed { max-width: 100%; width: 100%; height: auto; margin: 0; }
        
        #centerpiece_slider li .slide_contents { display: none !important; } /* Prevent mobile weirdness */
        
        #sidebar { margin-top: 0; padding-top: 20px; border-top: 1px dotted #666; }
        
        #footer .footer-widget-4 { margin-top: 20px; }
        
        .carousel-multi-mobile { display: block !important; }
        .carousel-multi { display: none; }
        
        /* Shrinkable bootstrap tables for tablets/phones.
        Responsive table guide via css-tricks.com/responsive-data-tables/ */
        table.table.table-striped, 
        .table.table-striped thead, 
        .table.table-striped tbody, 
        .table.table-striped th, 
        .table.table-striped td, 
        .table.table-striped tr {
                display: block;
        }
        .table.table-striped tbody {
                width: 100%;
        }
        .table.table-striped thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
        }
        .table.table-striped tr {
                margin: 10px 0 0 0;
                border-right: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                border-left: 1px solid #ddd;
        }
        .table.table-striped tbody tr td:empty {
                display: none;
        }
        .table.table-striped td, 
        .table.table-striped td.name, 
        .table.table-striped td.email, 
        .table.table-striped td.job_title, 
        .table.table-striped td.phones {
                width: auto;
        }
        .table.table-striped td.name {
                font-size: 14px;
        }
        .table.table-striped td.job_title {
                border-top: 0;
        }
        .table.table-striped tbody tr td ul {
                margin-bottom: 0;        
        }
        .table.table-striped td.phones ul li {
                line-height: 16px;
        }
        .table.table-bordered {
                border: 0;
        }
        .table.table-bordered tbody tr td {
                border-left: 0;
        }
        
        .alignright, .alignleft { max-width: 40%; }
		
		body {background: none; background-color: #FFFFFF;}

}

@media (max-width: 479px) {
        #header { padding-bottom: 0; margin-top:0; margin-left: 10px;}
        #header h1 { float: none; margin-bottom: 10px; margin-right: 0; margin-left: 20px; line-height: 20px; }
        #header h1 a { font-size: 18px; }
        
        #header-menu { width: 100%; background-color:#2C2C2C;}
		
		#footer { margin-left: 10px; }
		
        .navbar  ul#header-menu li:last-child { margin-bottom: 20px; }
		
		.navbar-inner {background-color: #2C2C2C}
		.navbar-inverse {background-color: #2C2C2C; background-image:none;}
		.btn-navbar {background-color: #2C2C2C; background-image: -moz-linear-gradient(center top, #333333,#222222);}
        
        .navbar  .menu {
                padding: 0;
        }
        .navbar  ul#header-menu li:after {
                content: "";
        }
        .navbar  ul#header-menu li, .navbar  ul#header-menu ul.dropdown-menu li {
                display: block;
                float: none;
                margin: 0;
                line-height: 13px;
        }
        .navbar  ul#header-menu li a {
                display: block;
                color: #999;
                font-weight: bold;
                font-size: 13px;
                padding: 6px 15px;
                border-radius: 0;
        }
                .navbar  ul#header-menu li.active a {
                        color: #fff;
                        background-color: #1;
                }
        .navbar  ul#header-menu li a:hover {
                background-color: #222;
                text-decoration: none;
                color: #fff;
        }
        .navbar ul#header-menu b.caret {
                border-bottom-color: #fff;
            border-top-color: #fff;
                margin-top: 4px;
        }
        
        .carousel-control { font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 30px; line-height: 20px; }
		
		#wrap {padding: 0 20px;}
		#menu-background {background-color: #FFFFFF;}
		.sf-menu a {background-color: #2C2C2C; border: 0; height:30px; line-height:30px;}
		.sf-menu ul {background: none repeat scroll 0 0 #2C2C2C; box-shadow: 0;}
		.sf-menu ul a {border-color: #2C2C2C;}
		.shadow-container {box-shadow: none;}
}